.pagination-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem 0;
}
.pagination-ul {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
.pagination-li {
  margin-right: 0.5rem;
}
.pagination-ul .pagination-li:last-child {
  margin-right: 0;
}
.pagination-button {
  padding: 0.5rem;
  font-size: 1.2rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: var(--third-color);
  color: var(--secondary-color);
  cursor: pointer;
}
.pagination-button:hover {
  background-color: var(--secondary-color);
  color: var(--third-color);
}
.pagination-active {
  background-color: var(--secondary-color);
  color: var(--third-color);
}
