.img-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.detailed-img {
  object-fit: cover;
  max-width: 900px;
  max-height: 1050px;
  width: 100%;
}
.info-section {
  margin: 1rem 0;
}
.page-subtitle {
  font-size: 1.5rem;
  font-weight: 600;
  text-align: center;
  margin: 1rem 0;
}
