@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Roboto Condensed", sans-serif;
}
:root {
  --title-font: "Roboto Condensed", sans-serif;
  --primary-font: "Roboto", sans-serif;
  --primary-color: #000;
  --secondary-color: #ebebeb;
  --third-color: #be0e14;
  --fourth-color: #23252f;
  --background-color: #dee5e5;
}
